<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTful API</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="p-10 text-white text-lg bg-[#222] font-bold">
    <h1 class="text-3xl mb-5">Welcome to the RESTful API app</h1>
    <div class="flex gap-5">
        <a href="/auth/login" class="text-blue-500 font-medium underline">Login</a>
        <a href="/auth/signup" class="text-blue-500 font-medium underline">Signup</a>
    </div>
</body>

</html>